a{
  color: #45045D;
}
a:link{
  color: #45045D;
}
a:hover{
  color: #45045D;
}
a:visited{
  color: #45045D;
}
.w-lg {
  width: 300px;
}
.progress-bar-warning{
  background-color: #d9534f !important;
}
.progress-bar-info{
  background-color: #5cb85c !important;
}
.progress-bar-success{
  background-color: #5bc0de !important;
}
.light {
  background-color: #f0f0f0;
}
.b-l {
    border-left: none;
}
.huf{
  margin-top: 25px;
  margin-right: 20px;
  margin-left: -15px;
}
.huf-modal{
  margin-right: 0;
  margin-left: 0;
}
.menu {
  width: 13.9%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
  color:#25b7d1;
  background-color: #fff;
  border-radius: 5px;
}
.menu-nav {
  width: auto;
  display: inline-block;
  margin: auto 20px;
  text-align: center;
  color:#25b7d1;
  line-height: 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.row-menu-nav{
  width: 50%;
  margin: auto;
  clear: both;
}
.row-panjang{
  width: 100% !important;
  margin-left: 0 !important;
}
.modal{
  top:2%;
}
.modal-body {
  padding: 25px;
  border-radius: 10px;
}
.modal-backdrop{
  opacity: 0.5 !important;
}
.margin-tambahan{
  margin-left: 1px;
  margin-right: 1px;
}
.clearfix{
  padding-right: 0 !important;
}
.wik{      
  margin-top: 15px;
}
.profil{
  padding-right: 1.5rem;
}
.ungu{
  background-color: #45045D;
  color: #fff;
}
.text-ungu{
  color: #45045D;
}
.text-biru{
  color:#25b7d1;
}
.text-pink{
  color:#f438d8;
}
.text-grey{
  color: #999;
}
.text-putih{
  color: #fff !important;
}
.company{
  margin-bottom: 10px;
}
.bayangan{
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
}
.bayangan2{
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 70px;
  z-index: 9998;
  width: 100%;
}
.bayangan3{
  /*display: none;*/
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: -10px;
  z-index: 9998;
  width: 100%;
}
.padding-bayangan2{
  padding-top: 25px;
  padding-bottom: 5px;
}
.padding-bayangan3{
  padding-top: 0;
  padding-bottom: 5px;
}
.text-bayangan2{
  font-family: "Poppins", sans-serif;
  color: #607d8b;
  padding: 8px 13px;
  display: block;
  font-size: 15px;
  white-space: nowrap;
}
.body-margin-top{
  margin-top: 155px;
}
.modal-z-index{
  z-index: 9999;
}
.menu-awal {
  width: auto;
  float: left;
  margin-left: 2%;
  text-align: center;
  color:#25b7d1;
}
.noback{
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-top: 40px;
  padding-bottom: 0;
}
.noback-row{
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
}
h3 {
  line-height: 30px;
  font-size: 25px;
  margin-bottom: -5px;
}
.h4 {
  line-height: 30px;
  font-size: 14px;
  color: #999;
}
.tebel{
  font-weight: bold;
}
.dropdown-menu {
  left: auto;
}
.b-l {
    border-left: 1px solid rgba(120, 130, 140, 0.13);
}
.h1-custom{
  font-size: 1.5rem;
}
.margin-bot-form-first{
    margin-bottom: 15px;
}
.margin-bot-form-next{
    margin-bottom: 25px;
}
.wd-50 {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    border: none;
    border-bottom: 1px solid #ddd;
}
.paginate_button{
    padding: 1px 5px;
    margin: 2px 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #eee;
}
select {
    line-height: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    border-color: #ddd;
}
.navbar-atas{
  display: none;
}
@media (max-width: 767px){
  .w-auto-sm {
    width: auto !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .huf{
    margin-top: auto;
    margin-right: 0;
    margin-left: 0;
  }
  .row [class*="col-"] {
    margin-bottom: 20px;
  }
  .menu {
    width: 100%;
    padding-left: 4px !important;
    padding-right: 4px !important;
    text-align: center;
  }
  .body-margin-top {
    margin-top: 155px;
  }
  .bayangan2{
    display: none;
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 89px;
    z-index: 9998;
    width: 100%;
  }
  .bayangan3{
    /*display: none;*/
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 89px;
    z-index: 9998;
    width: 100%;
  }
  .row [class*="col-"] {
    margin-bottom: 0;
  }
  .padding-bayangan3 {
    padding-top: 0; 
    padding-bottom: 5px;
  }
  .wd-50 {
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
  }
  .row-menu-nav{
    width: 100%;
    margin: auto;
    clear: both;
  }
  .huf-modal {
    margin-right: 0;
    margin-left: 0;
  }
}