/******************************************
	File Name: corporate.css
    Template Name: materialize
    Created By: TrendyTheme
    Envato Profile: https://themeforest.net/user/trendytheme
    Website: http://trendytheme.net
    Version: 1.0
    Support: http://trendytheme.net/support
******************************************/


/*button style*/
.btn {
	font-size: 14px;
}

.btn,
.btn:hover,
button:focus {
    background-color: #71c44c;
}


/*link style*/
a {
    color: #71c44c;
}



/*common form style*/
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), 
input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #71c44c;
    box-shadow: 0 1px 0 0 #71c44c; 
}

input[type=text]:focus:not([readonly]) + label, 
input[type=password]:focus:not([readonly]) + label, 
input[type=email]:focus:not([readonly]) + label, 
input[type=url]:focus:not([readonly]) + label, 
input[type=time]:focus:not([readonly]) + label, 
input[type=date]:focus:not([readonly]) + label, 
input[type=datetime-local]:focus:not([readonly]) + label, 
input[type=tel]:focus:not([readonly]) + label, 
input[type=number]:focus:not([readonly]) + label, 
input[type=search]:focus:not([readonly]) + label, 
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #71c44c !important; 
}



/* ============= Color Presets ================ */
.brand-color,
.brand-icon,
.flex-direction-nav a:before,
.contact-info .mail a:hover,
.portfolio-with-title .portfolio-title h2 a:hover, 
.portfolio-with-title .portfolio-title p a:hover {
    color: #71c44c !important; /*theme primary color*/
}

.brand-bg,
.brand-hover:hover,
.brand-bar,
.brand-filter li:hover, 
.brand-filter li.active,
.icon-hover-brand:hover .icon {
    background-color: #71c44c !important; /*theme primary background color*/
}

.brand-bg.darken-2 {
    background-color: #0288d1 !important;
}



/*Topbar*/
.top-bar .social-top a i {
    color: #bac2c6;
}
.top-bar .social-top a i:hover,
.top-bar .topbar-cta a:hover {
    color: #71c44c;
}


/*Nav Search*/
.search-trigger i:hover {
    color: #71c44c;
}
.active-search .search-trigger .search-btn {
    background-color: rgba(113, 196, 76, 0.9);
}


/* === Navigation === */
.menuzord-menu>li {
    margin-left: 15px;
}
.menuzord .menuzord-menu>li.active>a, 
.menuzord .menuzord-menu>li.active>a>i, 
.menuzord .menuzord-menu>li:hover>a, 
.menuzord .menuzord-menu>li:hover>a>i {
    color: #71c44c !important;
}

.nav-border-bottom .menuzord .menuzord-menu>li.active>a, 
.nav-border-bottom .menuzord .menuzord-menu>li:hover>a {
    border-bottom: 3px solid #71c44c;
}

.menuzord-menu ul.dropdown li.active>a, 
.menuzord-menu ul.dropdown li:hover>a, 
.menuzord-menu>li>.megamenu .megamenu-row li:hover>a {
    color: #71c44c;
}

.menuzord-menu ul.dropdown li >a::before, 
.menuzord-menu>li>.megamenu .megamenu-row li >a::before {
    background-color: #71c44c;
}


 
/*
Background banner images
------------------------------------------------------------*/
.corporate-banner-1 {
    background-image: url("../../img/corporate/laptop-2559958_1920.jpg");  
}


/*page cover*/
.page-title-bg {
    background-image: url(../../img/corporate/page-cover.jpg);
    background-color: #446E2C;
}

.breadcrumb li a {
    color: #fff;
}
.breadcrumb li a:hover,
.breadcrumb>.active {
    color: #65eb37;
}


/*portfolio*/
.portfolio-wrapper .bg-overlay {
    background-color: rgba(113, 196, 76, 0.85);
}


/*tab*/
.border-tab.primary-nav .nav-tabs>li>a, 
.border-tab.primary-nav .nav-tabs.nav-justified>li>a {
    border: 0;
    background: #fff;
    color: #71c44c;
}
.border-tab.primary-nav .nav-tabs>li.active::after {
    border-bottom: 3px solid #71c44c;
}


/*vertical-tab*/
.vertical-tab .nav-tabs>li>a {
    color: #303b41;
    background: #fff;
    border: 1px solid #eee;
}

.vertical-tab .nav-tabs>li.active>a, 
.vertical-tab .nav-tabs>li.active>a:focus, 
.vertical-tab .nav-tabs>li.active>a:hover {
    background-color: #71c44c;
    color: #fff;
    border: 1px solid transparent;
}



/*consultancy-wrapper*/
.consultancy-wrapper {
    padding: 0 100px;
}
.consultancy-wrapper h2 {
    font-size: 28px;
}

@media (max-width: 768px) {
    .consultancy-wrapper {
        padding: 0 30px;
    }
}
@media (max-width: 480px) {
    .consultancy-man img {
        max-width: 100%;
    } 
}


/* === Chart CSS  === */
.chart-wrapper {
    background-image: url("../../img/corporate/chart-bg.jpg");
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.chart-wrapper h2 {
    font-size: 28px;
}

@media screen and (min-width: 768px) {
    .chart-wrapper h2 {
        line-height: 50px;
    }
}

.chart-wrapper.overlay::before{
    background-color: rgba(44, 41, 41, 0.5);
}

.chart {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    text-align: center;
}
.chart canvas {
    position:absolute; 
    top:0; 
    left:0;
}
.percent {
    display: inline-block;
    line-height: 140px;
    z-index: 2;
    font-size: 30px;
}

.percent:after {
    content: '%';
}

.chart-text span {
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-top: 25px;
}



/*latest blog*/
.grid-news-hover .post-wrapper:hover .blog-content {
    border-color: #71c44c;
}


/*footer*/
.copy-text a,
.footer p {
    color: #eee;
}

.copy-text,
.copy-text a:hover,
.footer-four .secondary-footer ul li a:hover {
    color: #c6fcae;
}

.footer-four .social-link li a i:hover,
.team-title h3 a:hover,
.team-social-links li a:hover {
    color: #71c44c;
}